# Flask
SECRET_KEY=replace-with-a-strong-random-secret
SESSION_LIFETIME=8

# PostgreSQL
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tea_disease_db
DEFAULT_DB_NAME=postgres

# External APIs
OPENWEATHERMAP_API_KEY=replace-with-your-openweathermap-api-key

# Machine Learning & AI Models (RAG and LLM)
LLM_NAME=llama3.1:8b
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5

CLIP_THRESHOLD=0.5
CLIP_MODEL="ViT-B/32"