--extra-index-url https://download.pytorch.org/whl/cu128

flask==3.1.3
gunicorn==23.0.0
psycopg2-binary==2.9.10
torch==2.6.0+cu128
torchvision==0.21.0+cu128
opencv-python==4.11.0.86
cvzone==1.6.1
ultralytics==8.3.156
sentence-transformers==3.4.1
chromadb==0.6.3
ollama==0.4.7
pandas==2.2.3
openpyxl==3.1.5
tensorflow==2.18.0
joblib==1.4.2
bcrypt==4.3.0
python-dotenv==1.1.0
requests==2.32.3