.hero-section-background {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-section-background img {
    width: 100%;
    height: 100%;
}

.hero-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(#ffffff, #ffffff00);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.hero-section .heading-section {
    padding-top: 70px;
    margin-bottom: 2%;
}

.hero-section .heading-section p {
    color: var(--primary-color);
    padding: 8px;
    width: fit-content;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    font-size: 14px;
    background-color: #c6ffdb;
}

.main-heading p {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: #364A3C;
}

.main-heading p span {
    color: var(--primary-color);
}

.hero-section .description {
    font-size: 16px;
    text-align: center;
    color: gray;
    font-weight: 450;
    margin-top: 1%;
}

.hero-seaction-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
}

.hero-seaction-buttons button {
    width: 200px;
    height: 35px;
    border: 1.5px solid #19733aac;
    margin: 5px;
    border-radius: 10px;
    background-color: white;
    font-weight: 550;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-seaction-buttons button img {
    width: 20px;
}

#analayze-button {
    background-color: var(--primary-color);
    color: white;
}

.hero-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-footer p {
    margin: 20px;
    color: var(--primary-color);
    color: white;
    font-size: 12px;
}