{% extends "base.html" %}

{% block title %}Analyze{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/analyze.css')}}">
{% endblock %}

{% block content %}

    <div class="analyze-container">
        <div class="upload-section">
            <div class="upload-box" id="drop-zone">
                <img src="{{url_for('static',filename='icons/green-upload.png')}}" alt="Upload" class="upload-icon">
                <h3>Drag & Drop or Click to Upload</h3>
                <p>Supports: JPG, PNG, JPEG</p>
                <input type="file" id="file-input" hidden accept="image/JPG, image/png, image/jpeg">
            </div>
            <button class="scan-btn" id="scan-button">Start Analysis</button>
        </div>

        <div class="result-section">
            <div class="result-card">
                <div class="image-preview" id="image-preview-box">
                    <p>No Image Selected</p>
                    <img id="preview-img" src="" style="display: none;">
                </div>
                <div class="result-details">
                    <h3>Analysis Result</h3>
                    <div class="detail-row">
                        <span class="label">Status:</span>
                        <span class="value healthy" id="status-text">Waiting...</span>
                    </div>
                    <div class="detail-row">
                        <span class="label">Confidence:</span>
                        <span class="value" id="confidence-text">--%</span>
                    </div>
                    <div class="treatment-box">
                        <h4>Recommended Treatment</h4>
                        <p id="treatment-text">Upload a plant leaf image to see treatment suggestions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{{url_for('static',filename='js/analyze.js')}}"></script>
    <script src="{{url_for('static',filename='js/image_uploader.js')}}"></script>
{% endblock %}