<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PlantCare AI{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
    {% block extra_css %}css comes here{% endblock %}
</head>

<body>
    <header>
        <img src="{{url_for('static',filename='icons/logo.png')}}">
        <div class="header-buttons">
            <button class="not-actived" onclick="window.location.href='{{ url_for('home') }}'">Home</button>
            <button class="not-actived" onclick="window.location.href='{{ url_for('analayze') }}'">Analyze</button>
            <button class="not-actived" onclick="window.location.href='{{url_for('about')}}'">About us</button>
            <button class="not-actived" onclick="window.location.href='{{url_for('login')}}'">Login</button>

        </div>
    </header>
    {% block content %}Content goes here{% endblock %}
    {% block extra_js %}js comes here{% endblock %}
</body>

</html>